<% provide(:title, "Магазин") %>

<div id="about-us">
    <h1 id="shop-header">Магазин</h1>
  </div>

  <div class="row">
    <div class="col-md-3" id="sidebar">
      <ul class="list-group">
        <li class="list-group-item"><a href="">Раздел №1</a></li>
        <li class="list-group-item"><a href="">Раздел №2</a></li>
        <li class="list-group-item"><a href="">Раздел №3</a></li>
        <li class="list-group-item"><a href="">Раздел №4</a></li>
        <li class="list-group-item"><a href="">Раздел №5</a></li>
      </ul>

      <div class="panel panel-custom">
        <div class="panel-heading">
          <h3 class="panel-title">Компания</h3>
        </div>
        <div class="panel-body">
          <img src="#" class="img-responsive">
        </div>
      </div>
    </div>

    <div class="col-md-9">

      <h2 class="shop-section" id="res">Коробочки</h2>

      <div class="row">
        
        <div class="col-custom">
          <img src="http://www.lipka.ru/faq/price/box.jpg" class="img-responsive img-thumbnail">
          <h3>Коробка с котом</h3>
          <h4>1 000$ за штуку</h4>
        </div>

      </div>

      </div>

    </div>

  </div>